body {
  margin: 0;
  padding-top: 0;
  font-size: 14px;
  color: #333;
  background-color: #fff;
  font-family: 'Poppins';
  /* max-width: 1080px; */

}


header {
  background-image: linear-gradient( 96.5deg,  rgba(39,103,187,1) 10.4%, rgba(16,72,144,1) 87.7% );
  color: white;
  top: 0;
  margin-top: 0;
  padding: 20px 50px;
  position: relative;
  animation: slideDown 0.5s ease-out;
}



@keyframes slideDown {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.sections-wrapper {
  padding: 0 50px;
  display: flex;
  margin-top: 30px;
  margin-bottom: 20px;
}

header h1, header p {
  margin: 0;
}

.left-sections-wrapper {
  width: 60%;
  padding-right: 30px;
  animation: slideIn 1s ease-out;
}

@keyframes slideIn {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.right-sections-wrapper {
  width: 40%;
  padding-left: 30px;
  /* background-color: #EFF0F2; */
  border-radius: 20px;
  height: fit-content;
  box-shadow: rgba(17, 12, 46, 0.251) 0px 48px 100px 0px;
  animation: slideUp 1.5s ease-out;
}

@keyframes slideUp {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

h3 {
  background-image: linear-gradient( 96.5deg,  rgba(39,103,187,1) 10.4%, rgba(16,72,144,1) 87.7% );
  width: fit-content;
  padding: 5px 40px 5px 10px;
  border-radius:  0 20px 20px 0;
  color: rgb(255, 255, 255);
  translate: -10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  
}

h4 {
  margin: 0;
  color: #2D3C56;
  margin-bottom: 5px;
  background-color: #EFF0F2;
  border-radius: 5px;
  padding-left:10px;
  translate: -10px;
}

.section {
  margin-bottom: 50px;
}

.section p {
  margin: 0;
}

.sub {
  color: #5b5b5b;
  font-weight: 600;
}

.sub-wrapper {
  display: flex;
  justify-content: space-be;
}

span {
  color: #9b9b9b;
  font-weight: 100;
}

.section-2 h4 {
  margin-top: 20px;
}

.ul-1 {
  background-color: #EFF0F2;
  margin-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
}
